<a href="https://colab.research.google.com/github/rani-sikdar/Python-Data-Structures/blob/main/Data_Cleaning_and_transforming_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
# https://www.espncricinfo.com/records/highest-career-batting-average-282910

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/CricketTestMatchData.csv')
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6

Renaming the columns

In [7]:
df = df.rename(columns = {'Mat':'Matches','NO':'Not_Outs', 'HS':'Highest_Inns_Score', 'BF':'Balls_Faced', 'SR':'Batting_Strike_Rate'})
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

check null values

In [8]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [9]:
df[df['Balls_Faced'].isna() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
7,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258,2
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,0.0,5,6,3,51,0
55,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,0.0,5,6,3,51,0

In [10]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [11]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [13]:
df[df['Player']=='ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
7,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2

In [14]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

check duplicates

In [16]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62     True
63    False
64    False
Length: 65, dtype: bool

In [17]:
df[df['Player'].duplicated() == 1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
19,Saud Shakeel (PAK),2022-2024,16*,30,4,1428,208*,54.92,2925,48.82,4,7,1,148,1
55,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,0,0.00,5,6,3,51,0
59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0

In [19]:
df = df.drop_duplicates()

In [20]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [23]:
df.duplicated().sum()

0

split the span column

In [26]:
df['Span'].str.split(pat= '-')

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
4     [1924, 1935]
          ...
58    [1965, 1981]
60    [2002, 2014]
61    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 61, dtype: object

In [28]:
df['Span'].str.split(pat= '-').str[0]

0     1928
1     2015
2     1963
3     1930
4     1924
      ...
58    1965
60    2002
61    1924
63    1930
64    1928
Name: Span, Length: 61, dtype: object

In [29]:
df['Rookie_Year']= df['Span'].str.split(pat= '-').str[0]

<ipython-input-29-ab2a4209f7a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rookie_Year']= df['Span'].str.split(pat= '-').str[0]

In [30]:
df['Final_Year']= df['Span'].str.split(pat= '-').str[1]

<ipython-input-30-a96bea345e6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Final_Year']= df['Span'].str.split(pat= '-').str[1]

In [31]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,1924,1935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [33]:
df = df.drop(['Span'], axis=1)

In [34]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,1924,1935

Split country from the player

In [45]:
df['Player'].str.split(pat= '(')

0      [DG Bradman , AUS)]
1        [AC Voges , AUS)]
2       [RG Pollock , SA)]
3       [GA Headley , WI)]
4     [H Sutcliffe , ENG)]
              ...
58     [KD Walters , AUS)]
60    [GC Smith , ICC/SA)]
61    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 61, dtype: object

In [46]:
df['Country'] = df['Player'].str.split(pat= '(').str[1]

In [47]:
df.Country

0        AUS)
1        AUS)
2         SA)
3         WI)
4        ENG)
       ...
58       AUS)
60    ICC/SA)
61       AUS)
63       AUS)
64       ENG)
Name: Country, Length: 61, dtype: object

In [49]:
df['Country'].str.split(pat= ')').str[0]

0        AUS
1        AUS
2         SA
3         WI
4        ENG
       ...
58       AUS
60    ICC/SA
61       AUS
63       AUS
64       ENG
Name: Country, Length: 61, dtype: object

In [50]:
df['Country'] = df['Country'].str.split(pat= ')').str[0]

In [51]:
df.Country

0        AUS
1        AUS
2         SA
3         WI
4        ENG
       ...
58       AUS
60    ICC/SA
61       AUS
63       AUS
64       ENG
Name: Country, Length: 61, dtype: object

In [55]:
# for players

df['Player'].str.split('(')

0      [DG Bradman , AUS)]
1        [AC Voges , AUS)]
2       [RG Pollock , SA)]
3       [GA Headley , WI)]
4     [H Sutcliffe , ENG)]
              ...
58     [KD Walters , AUS)]
60    [GC Smith , ICC/SA)]
61    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 61, dtype: object

In [57]:
df['Player'] = df['Player'].str.split('(').str[0]

In [58]:
df.Player

0      DG Bradman
1        AC Voges
2      RG Pollock
3      GA Headley
4     H Sutcliffe
          ...
58     KD Walters
60       GC Smith
61    WH Ponsford
63      SJ McCabe
64     DR Jardine
Name: Player, Length: 61, dtype: object

In [59]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
3,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI
4,H Sutcliffe,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,1924,1935,ENG

change datatypes

In [60]:
df.dtypes

Player                  object
Matches                 object
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [62]:
df['Highest_Inns_Score'].str.split('*').str[0]

0     334
1     269
2     274
3     270
4     194
     ...
58    250
60    277
61    266
63    232
64    127
Name: Highest_Inns_Score, Length: 61, dtype: object

In [63]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split('*').str[0]

In [64]:
df['Highest_Inns_Score']

0     334
1     269
2     274
3     270
4     194
     ...
58    250
60    277
61    266
63    232
64    127
Name: Highest_Inns_Score, Length: 61, dtype: object

In [66]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype('int')

In [67]:
df['Highest_Inns_Score']

0     334
1     269
2     274
3     270
4     194
     ...
58    250
60    277
61    266
63    232
64    127
Name: Highest_Inns_Score, Length: 61, dtype: int64

In [68]:
df = df.astype({'Rookie_Year':'int', 'Final_Year':'int'})

In [69]:
df.dtypes

Player                  object
Matches                 object
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [71]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
3,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI
4,H Sutcliffe,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,1924,1935,ENG

In [72]:
df['Matches'] = df['Matches'].str.split('*').str[0]

In [73]:
df.Matches

0      52
1      20
2      23
3      22
4      54
     ...
58     74
60    117
61     29
63     39
64     22
Name: Matches, Length: 61, dtype: object

In [74]:
df['Matches'] = df['Matches'].astype('int')

In [75]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [76]:
df['Balls_Faced'] = df['Balls_Faced'].str.split('+').str[0]

In [77]:
df.Balls_Faced

0      9800
1      2667
2      1707
3       416
4      6558
      ...
58     8662
60    15525
61     3118
63     3217
64     2110
Name: Balls_Faced, Length: 61, dtype: object

In [78]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [80]:
pd.set_option('display.max_rows', None)

In [81]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
3,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
4,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
5,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
6,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
7,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI
8,HC Brook,24,40,1,2281,317,58.48,2581,88.37,8,10,2,246,37,2022,2024,ENG
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
11,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
12,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
13,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI
14,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
15,SPD Smith,113,201,25,9949,239,56.52,18564,53.59,34,41,11,1089,57,2010,2024,AUS
16,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
17,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
18,Saud Shakeel,16,30,4,1428,208,54.92,2925,48.82,4,7,1,148,1,2022,2024,PAK
20,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ
21,YBK Jaiswal,18,33,2,1682,214,54.25,2469,68.12,4,9,3,194,39,2023,2024,IND
22,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
23,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
24,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
25,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
26,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
27,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
28,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
29,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
30,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
31,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
32,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
33,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
39,JE Root,152,278,23,12972,262,50.87,22568,57.47,36,65,13,1394,45,2012,2024,ENG
40,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
41,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
47,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
48,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
49,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
50,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
51,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
52,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
53,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG
56,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
57,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
60,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [83]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [84]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced              int64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [85]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

calculate career length

In [86]:
df['Career_Length'] = df['Final_Year'] - df['Rookie_Year']

In [87]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
2,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
3,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
4,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11

In [88]:
# calculate average career length

df['Career_Length'].mean()

13.081967213114755

In [89]:
# calculate avg batting strike rate for cricketers who played over 10 years

df[df['Career_Length'] > 10]['Batting_Strike_Rate'].mean()

47.80255813953489

In [95]:
# find number of cricketrs played before 1960

df[df['Rookie_Year'] <1960]['Player'].count()

23

In [99]:
# max highest innings score by country

df.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highinncountry').reset_index().sort_values('Highinncountry', ascending=False)

    Country  Highinncountry
5    ICC/WI             400
0       AUS             380
10       SL             374
11       WI             365
1       ENG             364
3   ICC/PAK             329
2   ICC/IND             319
8       PAK             313
9        SA             278
4    ICC/SA             277
7        NZ             251
6       IND             248
12      ZIM             232

In [101]:
# number of hundreds, fities, ducks avg by country

df.groupby('Country')[['100', '50', '0']].mean()

               100         50          0
Country
AUS      21.400000  28.933333   8.933333
ENG      13.076923  21.384615   4.461538
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      23.250000  31.250000   8.000000
NZ       33.000000  37.000000  11.000000
PAK      17.800000  23.800000   7.800000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000